<form [formGroup]="userForm" (ngSubmit)="submitUsername()">
    <div class="mb-3">
        <label for="user" class="form-label">Username</label>
        <input type="text" class="form-control"  formControlName="username" aria-describedby="usernameHelp">
        <div id="usernameHelp" class="form-text">Enter username and start game</div>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
</form>
<div class="row">
<a class="link-success" routerLink="/players">See Score Board</a>
<a class="link-success" routerLink="/create-quote">Create Quote</a>
<a class="link-success" routerLink="/create-author">Create Author</a>
<a class="link-danger" routerLink="/delete-content">Delete Content</a>
</div>