<form [formGroup]="authorForm" (ngSubmit)="submit()">
    <div class="mb-3">
        <label for="user" class="form-label">First Name</label>
        <input type="text" class="form-control"  formControlName="firstName">
      </div>
      <div class="mb-3">
        <label for="user" class="form-label">Last Name</label>
        <input type="text" class="form-control"  formControlName="lastName">
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
</form>
<a class="link-success" routerLink="/game">Back to Game</a>